<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Earthquakes</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header>
        <h1>Explore Earthquakes</h1>
        <h3>Discover the fascinating world of earthquakes!</h3>
        <h3>Welcome to our engaging website designed for K-12 students, teachers, and parents, offering a delightful and educational exploration of earthquakes!</h3>
        <nav>
            <ul>
                <li><a href="latest.html">Latest Earthquakes Exploration</a></li>
                <li><a href="historical.html">Historical Earthquake Activity</a></li>
                <li><a href="comparison.html">Compare Earthquake Histories</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>What is an Earthquake?</h2>
        <!-- Your earthquake content here -->
        <h3>Imagine the Earth is like a giant puzzle made of big pieces called tectonic plates. These plates are always moving, like toys on the floor.</h3>

        <h3>Sometimes, these plates bump into each other, pull apart, or slide past one another. When this happens, it's like the Earth saying, "Oops, I need to adjust!" This adjustment makes the ground shake, and that's an earthquake!</h3>

        <img src="../static/images/earth-trembling.png" alt="Earthquake Illustration">

        <h2>How Do Earthquakes Occur?</h2>
        <!-- Your earthquake content here -->
        <h3>Earthquakes happen because the Earth is always moving and adjusting itself. It's like a big, friendly reminder that our Earth is a lively and active place!</h3>

        <h2>Stay Safe During an Earthquake</h2>
        <!-- Your earthquake content here -->
        <h3>When we hear about earthquakes, it's a reminder that our Earth is always moving. We need to be ready, just like we're ready for different weather. Some buildings are designed a certain way to stay safe during an earthquake.</h3>

        <h2>Let's learn more about earthquakes. Select one of the next options:</h2>
        <!-- <div id="map"></div> -->
        
        <div id="content">
            <a href = "latest.html">Latest Earthquakes Exploration</a>
            <a href = "historical.html">Historical Earthquake Activity</a>
            <a href = "comparison.html">Compare Earthquake Histories</a>
        </div>

    </section>

    <footer>
        <p>&copy; 2023 UofT Data Visualization Bootcamp - Explore Earthquakes Project. Group 2 Project 3 All rights reserved.</p>
    </footer>
    
</body>
</html>
